 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto:400,700');

/* variables */

:root {
  --roboto: 'Roboto', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
  --bulldogwhite: #fff;
  --bulldogred: #fa3232;
  --bulldogblack: #231f20;
  --light-shadow: rgba(0, 0, 0, .2);
  --dark-shadow: rgba(0, 0, 0, .6);
}

/* OOCSS */

.section-container {
  margin-top: 225px;
  margin-bottom: 30px;
  text-align: center;
  background: var(--bulldogwhite);
}

.section-header {
  font-family: var(--roboto);
  font-size: 36px;
}

/* styles */

body {
  background: var(--bulldogwhite);
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 115px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bulldogwhite);
}

.navbar {
  margin-bottom: 0;
}

.navbar li,
.navbar a {
  height: 60px;
  margin: 0;
  color: var(--bulldogred);
  font-family: var(--roboto);
  font-size: 20px;
}

.nav-pills > li > a {
  border-radius: 20%;
  display: flex;
  align-items: center;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav > li > a:hover {
  background: var(--light-shadow);
}

.nav-pills > li + li {
  margin-left: 0;
}

.logo {
  display: inline-block;
}

#carousel-example-generic {
  margin-top: 115px;
}

.carousel-inner > .item > img {
  width: 100%;
}

#blog, #menu, #contact, #footer {
  background: var(--bulldogred);
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu {
  flex-direction: column;
  padding: 50px 0 0 0;
}

.container-border::before {
  content: '';
  background: #777;
  height: 4px;
  display: block;
  border-radius: 2px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-border > h2 {
  text-align: center;
}

.blog-button-holder {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.blog-button {
  background-color: var(--bulldogred);
  color: var(--bulldogwhite);
  display: inline-block;
  font-size: 20px;
}

.contact-list-item {
  font-family: var(--montserrat);
  font-size: 20px;
}

.tab-container {
  margin-top: 150px;
}

.tab-container a {
  color: var(--bulldogwhite);
}

.tab-container a:hover {
  color: var(--bulldogblack);
}

.tab-content {
  background: var(--bulldogwhite);
  height: 640px;
}

.tab-pane {
  padding: 20px 0;
}

.tab-pane > div {
  height: 245px;
}

.nav-tabs {
  font-size: 20px;
}

.footer-container {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  background: var(--bulldogwhite);
}

@media screen and (max-width: 813px) {
  .tab-content {
    height: 720px;
  }
  .tab-pane > div {
    height: 280px;
  }
}

@media screen and (max-width: 767px) {
  .tab-content {
    height: 100%;
  }
  .tab-pane > div {
    height: 100px;
  }
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    height: 175px;
  }
  .nav-pills > li > a {
    padding: 5px;
  }
}

@media screen and (max-width: 340px) {
  .nav-pills > li > a {
    padding: 1px;
  }
}
